<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Retrieve Github</title>
</head>
<body style="background-color: #FFF5B7;">
    
    <div class="container">
        <!-- HEADER -->
        <section id="header">
            <div class="text-center p-5">
                <h1>REPOSITORIES RETRIEVER</h1>
            </div>
            <hr>
        </section>
    
        <!-- INPUT USER -->
        <section id="input-user">
                <div class="mb-3 p-3">
                    <label for="github-username" class="form-label">Github Username</label>
                    <div class="row">
                        <div class="col-md-10 col-8">
                            <input type="text" class="form-control" id="github-username" placeholder="Username...">
                        </div>
                        <div class="col-md-2 col-4">
                            <button class="btn btn-primary" type="submit">SUBMIT</button>
                        </div>
                    </div>
                </div>
                
            <hr>
        </section>
        
        <!-- CONTENT USER -->
        <section id="content">
            <div class="">
                <h3 class="mb-3">LIST OF PUBLIC REPOSITORIES</h3>
                <div class=table-responsive>

                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">URL</th>
                            <th scope="col">Created At</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Argon Assault</td>
                            <td>Unity</td>
                            <td>https://github.com/rezanasu/Argon_Assault</td>
                            <td>https://github.com/rezanasu/Argon_Assault</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>Project-Boost</td>
                            <td>Unity</td>
                            <td>https://github.com/rezanasu/Project-Boost</td>
                            <td>https://github.com/rezanasu/Argon_Assault</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>Realm-Rush</td>
                            <td>Unity</td>
                            <td>https://github.com/rezanasu/Realm-Rush</td>
                            <td>https://github.com/rezanasu/Argon_Assault</td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>Realm-Rush</td>
                            <td>Unity</td>
                            <td>https://github.com/rezanasu/Realm-Rush</td>
                            <td>https://github.com/rezanasu/Argon_Assault</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>